/* TODO Add site wide styles */

* {
    font-family: 'Montserrat',
        sans-serif;
}

.BenchList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.BenchListItem {
    border: 1px dotted black;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}

.BenchListItem:hover {
    background-color: rgb(254, 214, 221);
}

h1 {
    color: rgb(224, 20, 74)
}